<h1 style="text-align:center; font-size: 5em;">Lab: Pandas Basics</h1>

<hr style="border:2px solid">
<h1 style="text-align:center; font-size: 3em;">Workbook Overview</h1>
<hr style="border-top:1px dashed">
<ul>
        <li><a href="#anchorSetup">Lab Setup and Explanation</a></li> 
        <li><a href="#anchorDataset">Importing and Understanding The Data</a></li> 
        <li><a href="#anchorKey">Key Stats and Data Points</a></li> 
        <li><a href="#anchorSneakPeak">Sneak Peak</a></li> 
</ul>

<a name="anchorSetup" style="position:absolute;"></a>
<hr style="border:2px solid">

## Lab Setup and Explanation
<hr style="border-top:1px dashed">
Welcome to the Pandas Lab!! Now that we've learned about Pandas let's test your knowledge. We'll start off with a few simple tasks, and then you'll be asked some more complicated questions. 

There will be several sections that you can navigate to using the links in the Workbook Overview above this box. In each section, you will have several tasks to complete. Tasks are easily identifiable by their yellow boxes.

<div class="alert alert-block alert-warning">
    <b>Task 0: Import Pandas</b>
</div>

In [1]:
import pandas as pd

You are welcome to make as many extra code cells as you would like, just remember to clean up your notebook before submitting your work. 

The easier your work is to check, the more we can focus on giving feedback instead of hunting down answers.

With that being said, we hope you have fun with this lab!~

<a name="anchorndArray" style="position:absolute;"></a>
<hr style="border:2px solid">

## Section 1: Importing and Understanding The Data
<hr style="border-top:1px dashed">

Before we jump into calculating statistics, let's get a feel for the data first. We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!

<div class="alert alert-block alert-warning">
    <b>Task 1: Store the data from the file <code>Salaries.csv</code> as a dataframe called <code>sal</code>.</b>
</div>

In [4]:
sal = pd.read_csv('Salaries.csv')

<div class="alert alert-block alert-warning">
    <b>Task 2:</b> Display the dataframe first 5 rows using <code>.head()</code>
</div>

In [5]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

<div class="alert alert-block alert-warning">
    <b>Task 3:</b> How many entries in total there are?
</div>

In [6]:
print(len(sal))

148654

<a name="anchorndKey" style="position:absolute;"></a>
<hr style="border:2px solid">

## Section 2: Key Stats and Data Points
<hr style="border-top:1px dashed">

<div class="alert alert-block alert-warning">
    <b>Task 4:</b> What is the average BasePay?
</div>

In [7]:
sal['BasePay'].mean()

66325.44884050643

<div class="alert alert-block alert-warning">
    <b>Task 5:</b> What is the highest amount of OvertimePay in the dataset?
</div>

In [8]:
sal['OvertimePay'].max()

245131.88

In [17]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

<div class="alert alert-block alert-warning">
    <b>Task 6:</b> What is the job title of <code>JOSEPH DRISCOLL</code>?<br>
    Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).
</div>

In [19]:
# df.loc[df['favorite_color'] == 'yellow']
sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

<div class="alert alert-block alert-warning">
    <b>Task 7:</b> How much does JOSEPH DRISCOLL make (including benefits)?
</div>

In [21]:
sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

<div class="alert alert-block alert-warning">
    <b>Task 8:</b> What is the name of highest paid person (including benefits)?
</div>

In [40]:
sal.iloc[(sal['TotalPayBenefits'].idxmax()),1]

'NATHANIEL FORD'

<div class="alert alert-block alert-warning">
    <b>Task 9:</b> What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?
</div>

In [42]:
display(sal.iloc[(sal['TotalPayBenefits'].idxmin()),:])

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

<div class="alert alert-block alert-warning">
    <b>Task 10-13:</b> What was the average (mean) BasePay of all employees for each year?
</div>

In [50]:
#2011
# df1['EXTRA'] = df.groupby(["SINID"]).mean()['EXTRA']

sal.groupby(['Year']).mean()['BasePay'][2011]

63595.95651677314

In [51]:
#2012
sal.groupby(['Year']).mean()['BasePay'][2012]

65436.40685742262

In [52]:
#2013
sal.groupby(['Year']).mean()['BasePay'][2013]

69630.03021648063

In [53]:
#2014
sal.groupby(['Year']).mean()['BasePay'][2014]

66564.42192449959

In [54]:
sal.groupby(['Year']).mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

<div class="alert alert-block alert-warning">
    <b>Task 14:</b> How many unique job titles are there?
</div>

In [58]:
sal['JobTitle'].nunique()

2159

<div class="alert alert-block alert-warning">
    <b>Task 15:</b> What are the top 5 most common jobs?
</div>

In [64]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

<div class="alert alert-block alert-warning">
    <b>Task 16:</b> How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)
</div>

In [95]:
sal2 = sal.groupby(['Year'])
sal3 = pd.DataFrame(sal2['JobTitle'].value_counts()[2013])
# df.loc[df['column_name'] == some_value]
sal3.loc[sal3['JobTitle']==1].sum()

JobTitle    202
dtype: int64

<a name="anchorSneakPeak" style="position:absolute;"></a>
<hr style="border:2px solid">

## Section 3: Sneak Peak
<hr style="border-top:1px dashed">
This section is for those who finished early. This section is a sneak peak for what is to come in the future. 

These are a bit tricky, don't worry about not getting these.

<div class="alert alert-block alert-warning">
    <b>Extra Task 17:</b> How many people have the word Chief in their job title? (This is pretty tricky)
</div>

In [102]:
count = 0
for i in range(len(sal)):
    if 'chief' in sal['JobTitle'][i].lower():
        count += 1
        
print(count)

627

627

<div class="alert alert-block alert-warning">
    <b>Extra Task 17:</b> Is there a correlation between length of the Job Title string and Salary?
</div>

In [111]:
# Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])
title = sal['JobTitle']
title_length = title.str.len()
salary = sal['TotalPayBenefits']
correlation = title_length.corr(salary)
print(correlation)

-0.03687844593260675

-0.03687844593260631

<hr style="border:2px solid">